<% if padrino_handlers.size > 0 %>
  <h2>
    Padrino Handlers Summary
  </h2>
  <% padrino_handlers_listing.each do |item| %>
    <h3>
      <% if item[:controller].empty? %>
        Global Controller
      <% else %>
        Controller <%= h(item[:controller]) %>
      <% end %>
      <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
    </h3>
    <ul class="summary">
      <% item[:handlers].each do |handler| %>
        <%= yieldall :item => handler %>
      <% end %>
    </ul>
  <% end %>
<% end %>
